<div *ngIf="showIntro" class="intro-container">
  <img src="logo.png" class="key key-animation" />
  <div class="left-panel" [class.slide-left]="panelsOpened">
  </div>
  <div class="right-panel" [class.slide-right]="panelsOpened">
    <img class="serrure" src="serrure.png">
  </div>
</div>

<div class="container">
  <div class="header">
    <div class="logo">
      <img src="logo.png" [ngClass]="currentAnimation"/>
      <img src="logotxt.png" />
    </div>
  </div>

  <div class="content">
    <p>Currently working on website..</p>
  </div>

  <div class="footer">
    <p><img src="mail.png"/>swisskeysolutions.contact&#64;gmail.com</p>
    <p><img src="tel.png"/>+33 6 82 01 57 34</p>
  </div>
</div>